*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{                       background-color: #c7ecee;
                            font-family: 'Libre Baskerville', serif;}

#cabecalho{
                            display: flex;
                            margin-left: 2%;
                            font-size: 18px;
                            margin-top: 2%;
                            margin-top: 2%;}

#cabecalho a{
                            text-decoration: none;
                            margin-left: 30px;
                            color: #000; }

#cabecalho img{
                            margin-left: 150px;
                            margin-bottom: 8px;}

#cabecalho button{
                            border: 1px solid #000;
                            border-radius: 0;
                            margin-left: 28px;
                            cursor: pointer;}

#conectar{
                            width: 90px;
                            height: 40px;
                            background-color: #c7ecee;}

#cadastrar{
                            width: 190px;
                            height: 40px;
                            color: #fff;
                            background-color:#16a085;}

#texto_centro{
                            position: relative;
                            margin-top: 200px;
                            margin-left: 10%;
                            float: left;}

#texto_centro h1{
                            font-size: 3pc;
                            font-weight: normal;
                            padding-bottom: 20px;
                            font-family: 'Libre Baskerville', serif;}

#texto_centro p{
                            font-size: 25px;
                            padding-bottom: 20px;
                            font-family: 'Libre Baskerville', serif;}

#texto_centro button{
                            border: 1px solid #000;
                            background-color:#16a085;
                            color: #fff;
                            width: 150px;
                            height: 50px;
                            font-size: 15px;
                            cursor: pointer;}

#centro_imagens{
                            position: relative;
                            background-color: #fab0a0;
                            width: 370px;
                            height: 260px;
                            text-align: center;
                            float: left;
                            font-weight: normal;
                            border: 2px solid #000;
                            border-radius:10px;
                            margin-top: 200px;
                            margin-left: 2%;}

article h3{
                            position: relative;
                            font-size: 20px;
                            color: #d63031;
                            margin-top: 20px;}

#image2{

                            margin-top: 20px;
                            margin-right: 120px;}

#image3{
                            position: absolute;
                            top: 1px;
                            left: 2px;}

#image4{
                            position: absolute;
                            top: 1px;
                            left: 346px;}

#centro_imagens2{
                            position: absolute;
                            background-color:#fff;
                            width: 198px;
                            height: 30%;
                            top: 370px;
                            left: 840px;
                            border: 2px solid #000;
                            border-radius: 10px;
                            box-shadow: 3px 3px #000;}

#centro_imagens2 h3{
                            border: 1px solid #000;
                            margin-top: auto;
                            font-weight: normal;
                            width: 187px;
                            margin: auto;
                            color: #000;
                            font-size: 15px;
                            padding: 5px;
                            background-color: #ecf0f1;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;}    

#button{
                            text-align: center;
                            background-color: #16a085;
                            margin-left: 30px;
                            margin-right: auto;
                            margin-top: 10px;
                            width: 140px;
                            height: 20px;
                            border-radius: 10px;
                            color: #fff;
                            cursor: pointer;}